@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,700;0,900;1,400&family=Rubik+Distressed&display=swap');



*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
img{
	max-width: 100%;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}

.justify-center{
	justify-content: center;
}

.justify-end{
	justify-content:flex-end;
}
.align-center{
  align-items: center;
}
header{
  background-color:#F0FFF0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container{
width: 1200px;
margin: auto;
}
.logo{
	flex-basis: 20%;
	max-width: 20%;
}
.logo a{}
.logo a img{}

nav{
	flex-basis: 80%;
	max-width: 80%;
}
nav ul{
	list-style: none;
}
nav ul li{}
nav ul li a {

font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #413960;
padding: 8px 18px;
display: inline-block;
text-decoration: none;
transition-duration: 0.3s;
border-radius: 30px;
}


nav ul li a:hover {
color: #fff;
	background: #21B573;
}


.btn{
	color: #fff;
	background: #21B573;
border-radius: 33px;

font-weight: 400;
font-size: 16px;
line-height: 24px;


padding: 8px 18px;
display:inline-block;
text-decoration: none;
transition-duration: 0.3s;
border-radius: 30px;
}

.col-1-2{
	 max-width: 50%;
	 flex-basis: 50%;
}



.banner_content{
	padding-top: 70px;
  padding-bottom: 50px;
}
.banner_content span{
	font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FD511A;
}
.banner_content h1{
	max-width: 405px;
}
.banner_content h1,
.banner_content h1 span{
	font-weight: 700;
font-size: 48px;
line-height: 70px;
color:#413960;
}
.banner_content h1 span{
	color: #21B573;
	
}
.banner_content p{
	font-weight: 400;
font-size: 16px;
line-height: 36px;
color: #6C6B6B;
margin: 20px 0;
max-width: 420px;

}
.banner_content img{}

.banner_content .btn{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;

}


.banner_content .btn:hover{
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}

.feature_section{}
.col-1-4 {
    max-width: 25%;
    flex-basis: 25%;
    padding:15px;
    box-sizing: border-box;
}
.feature{
	background: #F8FFFB;
border-radius: 10px;
text-align: center;
padding: 50px 45px;
  transition-duration: 0.3s;

}

.feature img{
	height: 76px;
}
.feature h3{
	font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #413960;
margin-top: 25px;

}
.feature p{
	font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #585859;

}
.feature: hover{
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
background: white;
}